@tailwind base;

:root {
  --fa-secondary-color: rgba(208, 88, 59, 0.85);
  --fa-secondary-opacity: 1;
}

body {
  background: url("https://i.imgur.com/WrDbVMp.png");
  color: rgba(20, 20, 20, 0.85);
}

p,
input[type="text"],
::placeholder,
button {
  font-family: "Courier";
}

input[type="text"] {
  background: transparent;
  border: none;
  border-bottom: 1px dashed rgba(20, 20, 20, 0.85);
}

h1 {
  @apply text-2xl;
  font-family: "Courier Prime", "Courier";
  text-decoration: underline;
}

input[type="checkbox"]:checked {
  background-color: red;
}

.weather-condition {
  color: var(--fa-secondary-color);
  font-weight: bold;
}

.temperature {
  color: #6b6b6b;
  font-family: "Handlee";
  font-weight: bold;
}

a {
  color: var(--fa-secondary-color);
  text-decoration: underline;
}

@tailwind components;
@tailwind utilities;
