body {
  background: url("https://i.imgur.com/WrDbVMp.png");
  color: #1b1b1b;
  color: rgba(20, 20, 20, 0.85);
}

.courier {
  font-family: "Courier Prime", "Courier";
}

a {
  color: inherit;
  text-decoration: none;
}

/*
font-family: 'Courier Prime', 'Courier';
font-family: 'Handlee', ;
*/
