body {
  background-color: #282c34;
  color: white;
}

.courier {
  font-family: "Courier Prime", "Courier";
}

a {
  text-decoration: none;
  color: inherit;
}

/*
font-family: 'Courier Prime', 'Courier';
font-family: 'Handlee', ;
*/
